@charset "UTF-8";
header {
  z-index: 9999;
  position: sticky;
  top: 0%;
  border-bottom: 1px grey solid; }
  header nav ul .menuLista {
    transition: 1.5s; }
    header nav ul .menuLista:hover {
      transform: translateY(3px);
      border-bottom: 1px solid #500808;
      color: #500808; }
  header div ul li a {
    font-size: 1.2rem; }
  header div ul li .info {
    margin-right: 3rem; }
  header div ul li .menu {
    display: flex;
    list-style: none; }
  header div ul li ul li .dropdown-item:active {
    background-color: white; }
  header div a img {
    margin-left: 3rem; }

body {
  background: #070b0e;
  background: linear-gradient(143deg, #070b0e 0%, #4d0c0c 51%, #ab0d0d 100%);
  position: relative;
  padding-bottom: 3rem; }

footer {
  background-color: #070B0E;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0%; }
  footer .redesSociales .redesCont {
    text-align: center;
    display: flex;
    display: inline-block; }
    footer .redesSociales .redesCont:hover {
      border-radius: 50%;
      transform: scale(1.1); }
  footer .redesSociales .fb:hover {
    filter: drop-shadow(3px 3px 5px blue); }
  footer .redesSociales .ig:hover {
    filter: drop-shadow(3px 3px 5px #e67487); }
  footer .redesSociales .in:hover {
    filter: drop-shadow(3px 3px 5px #6161ff); }
  footer .redesSociales .wpp:hover {
    filter: drop-shadow(3px 3px 5px #0bf00b); }
  footer .parrafoFooter {
    display: block; }
    footer .parrafoFooter .derechosReservados {
      color: #FFFFFF; }

.contenedorTrabajos .imgPag1, .contenedorTrabajos .imgPag2 {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  width: 15rem;
  display: flex;
  justify-self: center; }

/* reset */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*estilos Index */
.contenedor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "imagen " "contenido" "footer ";
  justify-content: center; }
  .contenedor .contenedorMain .fotoIndex {
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 5px black); }
  .contenedor .contenedorMain .slogan1 {
    grid-area: contenido;
    display: grid;
    grid-template-areas: "titulo" "parrafo"; }
    .contenedor .contenedorMain .slogan1 .tituloIndex {
      grid-area: titulo;
      color: #FFFFFF;
      font-weight: bold;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-size: 3rem;
      margin-top: 30px;
      margin-bottom: 30px; }
    .contenedor .contenedorMain .slogan1 .parrafoIndex {
      grid-area: parrafo;
      font-size: 1rem;
      text-align: center;
      padding: 5rem;
      color: #FFFFFF; }
    .contenedor .contenedorMain .slogan1 .TituloFoto img {
      display: none; }
  .contenedor .contenedorMain footer {
    grid-area: footer; }
  @media only screen and (min-width: 650px) {
    .contenedor .contenedorMain {
      display: grid;
      grid-template-areas: "imagen contenido" "imagen contenido ";
      justify-content: center;
      grid-template-columns: 50% 50%;
      column-gap: 0rem; }
      .contenedor .contenedorMain .fotoIndex {
        display: flex;
        width: 100%;
        margin-bottom: 33rem; }
      .contenedor .contenedorMain .slogan1 {
        grid-template-areas: "tituloFoto" "titulo" "parrafo";
        column-gap: 1rem; }
        .contenedor .contenedorMain .slogan1 .TituloFoto {
          margin-top: 7.5rem;
          display: flex;
          justify-content: center;
          grid-area: tituloFoto;
          filter: drop-shadow(2px 2px 3px black); }
          .contenedor .contenedorMain .slogan1 .TituloFoto img {
            display: block;
            height: auto;
            width: auto; }
        .contenedor .contenedorMain .slogan1 .tituloIndex {
          grid-area: titulo;
          color: #FFFFFF;
          font-weight: bold;
          text-align: center;
          font-family: 'Open Sans', sans-serif;
          font-family: 'Roboto', sans-serif;
          font-size: 3rem;
          margin-top: 30px;
          margin-bottom: 30px; }
        .contenedor .contenedorMain .slogan1 .parrafoIndex {
          grid-area: parrafo;
          font-weight: bold;
          font-size: 1rem;
          text-align: center;
          margin-left: 0rem;
          margin-bottom: 15rem;
          margin-right: 0rem; } }
  @media only screen and (min-width: 1024px) {
    .contenedor .contenedorMain {
      display: grid;
      grid-template-areas: "imagen contenido" "imagen contenido ";
      justify-content: center;
      grid-template-columns: 40% 60%;
      column-gap: 0rem; }
      .contenedor .contenedorMain .fotoIndex {
        display: flex;
        width: 80%; }
      .contenedor .contenedorMain .slogan1 {
        width: 100%; }
        .contenedor .contenedorMain .slogan1 .tituloIndex {
          font-size: 2rem;
          padding-top: 2rem;
          margin-top: 2rem; }
        .contenedor .contenedorMain .slogan1 .parrafoIndex {
          font-size: 1.2rem;
          margin-left: 5rem;
          margin-bottom: 15rem;
          margin-right: 5rem; } }

/*ac치 termina el Css del index y arranca el de "trabajos"*/
.contenedorTrabajos {
  display: grid;
  grid-template-areas: "titulo" "subtitulo1" "foto1" "parrafo1" "subtitulo2" "foto2" "parrafo2" "footer"; }
  .contenedorTrabajos .titulosHtml {
    grid-area: titulo;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px; }
  .contenedorTrabajos .imgPag1 {
    grid-area: foto1;
    width: 100%; }
  .contenedorTrabajos .tituloPrimerProyect {
    text-align: center;
    grid-area: subtitulo1;
    color: #FFFFFF; }
  .contenedorTrabajos .parrafoPrimerProyect {
    grid-area: parrafo1;
    text-align: center;
    padding: 2.5rem;
    color: #FFFFFF; }
  .contenedorTrabajos .imgPag2 {
    grid-area: foto2;
    width: 100%; }
  .contenedorTrabajos .tituloSegundoProyect {
    grid-area: subtitulo2;
    text-align: center;
    color: #FFFFFF; }
  .contenedorTrabajos .parrafoSegundoProyect {
    grid-area: parrafo2;
    text-align: center;
    padding: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 10rem; }
  .contenedorTrabajos .linkPag1 {
    text-decoration: none;
    color: #FFFFFF; }
  .contenedorTrabajos .linkPag2 {
    text-decoration: none;
    color: #FFFFFF; }
  .contenedorTrabajos .comentarios-proyect {
    font-weight: bold;
    font-size: 1.1rem; }
  .contenedorTrabajos footer {
    grid-area: footer; }

@media only screen and (min-width: 650px) {
  .contenedorTrabajos {
    display: grid;
    grid-template-areas: "titulo titulo" "foto1 subtitulo1" "foto1 parrafo1" "subtitulo2 foto2" "parrafo2 foto2" "footer footer"; }
    .contenedorTrabajos .titulosHtml {
      grid-area: titulo;
      color: #FFFFFF;
      font-weight: bold;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-size: 3rem;
      margin-top: 30px;
      margin-bottom: 30px; }
    .contenedorTrabajos .imgPag1 {
      grid-area: foto1;
      margin-top: 2.2rem;
      margin-bottom: 2.2rem;
      width: 17rem;
      display: flex;
      justify-self: center;
      border-radius: 10%; }
    .contenedorTrabajos .tituloPrimerProyect {
      text-align: center;
      grid-area: subtitulo1;
      color: #FFFFFF; }
    .contenedorTrabajos .parrafoPrimerProyect {
      grid-area: parrafo1;
      text-align: center;
      padding: 2.5rem;
      color: #FFFFFF; }
    .contenedorTrabajos .imgPag2 {
      grid-area: foto2;
      margin-top: 2.2rem;
      margin-bottom: 2.2rem;
      width: 17rem;
      display: flex;
      justify-self: center;
      border-radius: 10%; }
    .contenedorTrabajos .tituloSegundoProyect {
      grid-area: subtitulo2;
      text-align: center;
      color: #FFFFFF; }
    .contenedorTrabajos .parrafoSegundoProyect {
      grid-area: parrafo2;
      text-align: center;
      padding: 2.5rem;
      color: #FFFFFF; }
    .contenedorTrabajos .linkPag1 {
      text-decoration: none;
      color: #FFFFFF; }
    .contenedorTrabajos .linkPag2 {
      text-decoration: none;
      color: #FFFFFF; }
    .contenedorTrabajos .footer .redesSociales a img {
      width: 30%; } }

@media only screen and (min-width: 1024px) {
  .contenedorTrabajos .imgPag1 {
    width: 22rem; }
  .contenedorTrabajos .imgPag2 {
    width: 22rem; }
  .contenedorTrabajos .parrafoSegundoProyect {
    margin-bottom: 15rem; } }

/* aca termina el css de conocimiento y empieza el de sobre mi*/
.contenedorSobreMi .parrafoSobreMi {
  margin-bottom: 11.5rem; }

@media only screen and (min-width: 1024px) {
  .contenedorSobreMi {
    grid-template-areas: "titulo foto" "parrafo foto";
    grid-template-columns: 1fr 1fr; }
    .contenedorSobreMi .fotoYo {
      align-self: center;
      margin-bottom: 8rem; }
    .contenedorSobreMi .fotoYo img {
      width: 80%; }
    .contenedorSobreMi .subTituloSobreMi {
      font-size: 1.8rem; }
    .contenedorSobreMi .contenidoSobreMi {
      font-size: 1.1rem; } }

/*ac치 termina el Css del Trabajos y arranca el de "Conocimientos" */
.titulosHtml {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px; }

.contConocimientos .carousel .carousel-inner .carousel-item .html-carrousel {
  height: 30vh; }

.contConocimientos .carousel .carousel-inner .carousel-item .css-carrousel {
  height: 30vh; }

.contConocimientos .carousel .carousel-inner .carousel-item .git-carrousel {
  height: 30vh; }

.contConocimientos .carousel .carousel-inner .carousel-item .bootstap-carrousel {
  height: 30vh; }

.contConocimientos .contenidoConocimiento {
  grid-area: subtit;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem; }
  .contConocimientos .contenidoConocimiento .textoConocimiento {
    font-size: 1.2rem;
    text-align: center;
    color: #FFFFFF; }

@media only screen and (max-width: 650px) {
  .contConocimientos .redesSociales a img {
    width: 30%; } }

/*ac치 termina el Css de conocimientos y arranca el de Sobre mi */
.tituloSobreMi {
  color: #FFFFFF;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 30px; }

@media only screen and (max-width: 650px) {
  .contenedorSobreMi {
    display: grid;
    grid-template-areas: "foto foto" "titulo titulo" "parrafo parrafo"; }
    .contenedorSobreMi .fotoYo {
      text-align: center;
      grid-area: foto; }
      .contenedorSobreMi .fotoYo img {
        height: 90%; }
    .contenedorSobreMi .subTituloSobreMi {
      grid-area: titulo;
      font-size: 1.5rem;
      text-align: center;
      color: #FFFFFF;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .contenedorSobreMi .contenidoSobreMi {
      padding: 1.7rem;
      grid-area: parrafo;
      text-align: center;
      color: #FFFFFF;
      font-size: 1rem;
      margin-bottom: 1.5rem; } }

@media only screen and (min-width: 650px) {
  .contenedorSobreMi {
    display: grid;
    grid-template-areas: "foto foto" "titulo titulo" "parrafo parrafo"; }
    .contenedorSobreMi .fotoYo {
      text-align: center;
      grid-area: foto; }
      .contenedorSobreMi .fotoYo img {
        height: 90%; }
    .contenedorSobreMi .subTituloSobreMi {
      grid-area: titulo;
      font-size: 1.5rem;
      text-align: center;
      color: #FFFFFF;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .contenedorSobreMi .contenidoSobreMi {
      padding-left: 8rem;
      padding-right: 8rem;
      grid-area: parrafo;
      text-align: center;
      color: #FFFFFF;
      font-size: 1.2rem;
      margin-bottom: 1.5rem; }
    .contenedorSobreMi .tituloSobreMi {
      font-size: 3rem; } }

@media only screen and (min-width: 1024px) {
  .contenedorSobreMi {
    grid-template-areas: "titulo foto" "parrafo foto";
    grid-template-columns: 1fr 1fr; }
    .contenedorSobreMi .fotoYo {
      align-self: center; }
    .contenedorSobreMi .fotoYo img {
      width: 80%; }
    .contenedorSobreMi .subTituloSobreMi {
      font-size: 1.8rem; }
    .contenedorSobreMi .contenidoSobreMi {
      font-size: 1.1rem; } }

/*ac치 termina el Css de Sobre mi y arranca el de Contacto */
.redes-sociales a {
  text-decoration: none;
  margin-bottom: 3rem;
  width: 50%; }
  .redes-sociales a .redes-sociales a img {
    width: 55%; }
  .redes-sociales a .fb-contact:hover {
    filter: drop-shadow(3px 3px 5px blue); }
  .redes-sociales a .ig-contact:hover {
    filter: drop-shadow(3px 3px 5px #e67487); }
  .redes-sociales a .in-contact:hover {
    filter: drop-shadow(3px 3px 5px #6161ff); }
  .redes-sociales a .wpp-contact:hover {
    filter: drop-shadow(3px 3px 5px #0bf00b); }

.formulario {
  color: #FFFFFF;
  margin-top: 2rem;
  margin-left: 16%;
  height: 90%;
  width: 70%;
  border: 0px solid white;
  text-align: center; }
  .formulario #consultaFormulario {
    width: 90%;
    height: 8rem;
    border-radius: 2%; }

@media only screen and (min-width: 768px) {
  .redes-sociales a img {
    width: 45%; } }

@media only screen and (min-width: 1200px) {
  .redes-sociales a img {
    width: 30%; } }
