@import "utilities/variables";
@import "layout/nav-background";
@import "utilities/mixins";
@import "utilities/extends";

/* reset */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*estilos Index */

.contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "imagen "
                         "contenido"
                         "frase"
                         "servicios"
                         "footer ";
    justify-content: center;

    .contenedorMain{

        .fotoIndex{
            grid-area: imagen;
            display: flex;
            justify-content: center;
            align-items: center;
            filter:drop-shadow( 5px 5px 5px black);
        }

        .slogan1{
            grid-area: contenido;
            display: grid;
            grid-template-areas: "titulo"
                                 "parrafo";
    
            .parrafoIndex{
                grid-area: parrafo;
                font-size: 1.8rem;
                text-align: center;
                padding: 1.5rem;
                color: $color-textos;
            }

            .TituloFoto{
                img{
                     display: none;
                }
             }
                
        }
        .tituloServicios{
            h2{
                color: $color-secundario;
                font-size: 2.5rem;
                margin-bottom: 2rem;
                display: block;
                text-align: center;
            }
        }
        .servicios{
            grid-area: servicios;
            text-align: center;
            .cajaServicios{
                background-color: rgb(211, 211, 211);
                margin: 0.7rem;
                border: 2px solid $color-secundario;
            }
            .serviciosIndex{
                color: $color-secundario;              
            }
            
            

            .contenedorFrase{
                .fraseIndexDiseño{
                    color: $color-secundario;
                    
                    .palabraDiseño{
                        margin: -1%;
                        font-size: 1.45rem;
                        transition: font-size, font-weight, color 0.2s;
                        transition-delay: 0.8s;
                        &:hover{
                            font-size: 3rem;
                            transition: font-size 0.2s;
                            color: $color-principal;
                            font-weight: bold;
                        }
                    }
                    .letraP{
                        padding-left: 0.5rem;
                    }
                    .palabraPersonalizado{
                        margin: -1%;
                        font-size: 1.45rem;
                        transition: font-size, font-weight, color 0.2s;
                        transition-delay: 0.8s;
                        &:hover{
                            font-size: 3rem;
                            transition: font-size 0.2s;
                            color: $color-principal;
                            font-weight: bold;
                        }
                    }
                } 
            }

            .contResponsive{
                color: $color-secundario;
                .responsiveIndex{
                    font-size: 2rem;
                    transition: font-size 1s;
                    transition-delay: 0.8s;
                    &:hover{
                        font-size: 3rem;
                        transition: font-size 1s;
                    }
                }
            }
            .contSeo{
                cursor: url(../img/lupa.png), auto;
                .tituloSeo{
                    color: $color-secundario;
                    font-size: 2rem;
                }
                
            }
                    
            .parrafosServicios{
                color: #000;
                font-size: 1.3rem;
            }
        }

        footer{
            grid-area: footer;
        }
            
        
    }
    .fraseIndex{
        display: grid;
        grid-area: frase;
        .tituloIndex{
             grid-area: titulo;
             @include titulos;
             font-size: 1.5rem;

            .tituloIndexFrase{
                 display: block;
                 font-size: 1.5rem;
                 font-family: 'Calligraffitti', cursive;
                }

            .sinBr{
                 display: block;
                 font-size: 1.5rem;
                 font-family: 'Calligraffitti', cursive;
                }
        }
        
    }
        
        
        
    @media only screen and (min-width:650px){
        .contenedorMain{
            

            display: grid;
            grid-template-areas: "contenido imagen"
                                 "contenido frase "
                                 "tituloS tituloS"
                                 "servicios servicios"
                                 "footer footer";
                                 
            justify-content: center;
            grid-template-columns: 50% 50%;
            column-gap: 0rem;
    
            .fotoIndex{
                display: flex;
                width: 100%;
                
            }

            .slogan1{
                grid-template-areas: "tituloFoto"
                                     "titulo"
                                     "parrafo";
                column-gap: 1rem;
                .TituloFoto{
                    margin-top: 7.5rem;
                    display: flex;
                    justify-content: center;
                    grid-area: tituloFoto;
                    filter:drop-shadow( 2px 2px 3px black);
                    img{
                        display: block;
                        height: auto;
                        width: auto;
                    }
                }
                    
                .parrafoIndex{
                    grid-area: parrafo;
                    font-weight: bold;
                    font-size: 1rem;
                    text-align:center;
                    margin-left: 0rem;
                    margin-bottom: 15rem;
                    margin-right: 0rem;
                }
            }

            .fraseIndex{
                margin-bottom: 10rem;
                margin-right: 8rem;
                .tituloIndex{
                    grid-area: titulo;
                    @include titulos;
                }
            }

            .tituloServicios{
                grid-area: tituloS;
            }

            .servicios{
                grid-area: servicios;
                text-align: start;
                .contenedorFrase{
                    .fraseIndexDiseño{
                        .palabraPersonalizado{
                            margin: -0.5%;
                            font-size: 1.8rem;
                        }
                        .palabraDiseño{
                            margin: -0.5%;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            
    
        }
    }
    
        
        
    
    
    @media only screen and (min-width:1024px){
    
    
        .contenedorMain{
            display: grid;
            grid-template-areas: "contenido imagen"
                                 "contenido frase"
                                 "tituloS tituloS"
                                 "servicios servicios"
                                 "footer footer";
                                 
            justify-content: center;
            grid-template-columns: 60% 40%;
            column-gap: 0rem;
    
            .fotoIndex{
                display: flex;
                width: 80%;
                
            }
    
            .slogan1{
                width: 100%;
                
                .parrafoIndex{
                    font-size: 1.2rem;
                    margin-left: 5rem;
                    margin-bottom: 15rem;
                    margin-right: 5rem;
                }
            }
            .tituloServicios{
                h2{
                    color: rgb(0, 110, 255);
                    font-size: 3rem;
                    margin-bottom: 2rem;
                    display: block;
                }
                                
            }
            .servicios{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-area: servicios;
                
                .serviciosIndex{
                    color: $color-secundario;              
                }
                
    
                .contenedorFrase{
                    .fraseIndexDiseño{
                        color: $color-secundario;
                        
                        .palabraDiseño{
                            margin: -0.4%;
                            font-size: 2rem;
                            transition: font-size, font-weight, color 0.2s;
                            transition-delay: 0.8s;
                            &:hover{
                                font-size: 3rem;
                                transition: font-size 0.2s;
                                color: $color-principal;
                                font-weight: bold;
                            }
                        }
                        .letraP{
                            padding-left: 0.5rem;
                        }
                        .palabraPersonalizado{
                            margin: -0.4%;
                            font-size: 2rem;
                            transition: font-size, font-weight, color 0.2s;
                            transition-delay: 0.8s;
                            &:hover{
                                font-size: 3rem;
                                transition: font-size 0.2s;
                                color: $color-principal;
                                font-weight: bold;
                            }
                        }
                    } 
                }
    
                .contResponsive{
                    color: $color-secundario;
                    .responsiveIndex{
                        font-size: 2rem;
                        transition: font-size 1s;
                        transition-delay: 0.8s;
                        &:hover{
                            font-size: 3rem;
                            transition: font-size 1s;
                        }
                    }
                }
                .contSeo{
                    color: $color-secundario;
                }
                        
                .parrafosServicios{
                    color: #000;
                    font-size: 1.3rem;
                }
            }
    
            footer{
                grid-area: footer;
            }
        }
         
        
    }
}



 /*acá termina el Css del index y arranca el de "trabajos"*/


.contenedorTrabajos{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    .card{
        position: relative;
        width: 500px;
        height: 320px;
        margin: 30px 1rem;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 50px rgba(255, 255, 255, 0.5);
        transition: 0.3s ease-in-out;
        &:hover{
            height: 620px;
            .contCard{
                visibility: visible;
                opacity: 1;
                margin-top: -40px;
                transition-delay: 0.3s;
                a{
                    text-decoration: none;
                    color: $color-principal;
                }
            }
        }
        .imgCard{
            position: relative;
            width: 250px;
            height: 250px;
            top: -30px;
            left: 3px;
            box-shadow: 0 5px 20px rgba (255, 255, 255, 0.2) ;
            img{
                width: 100%;
                
            }
        }
        .contCard{
            position: relative;
            margin-top: -140px ;
            padding: 10px 15px;
            text-align: center;
            color: $color-principal;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
            .spanTrabajos{
                font-weight: bold;
            }
            
        }
    }
    
}

        footer{
            grid-area: footer;
        }
        .footerTrabajos{
            position: relative;
            top: 20rem;
        }
        
 
.contenedorTrabajos{
    @media only screen and (min-width:650px){
        
         .card{
             margin: 30px 12rem;
             .imgCard{
                 position: relative;
                 width: 300px;
                 height: 300px;
                 top: -60px;
                 left: -4px;
                }
             }  
    }

    
}
.contenedorTrabajos{
    @media only screen and (min-width:1024px){
        
        .card{
             margin: 30px 12rem;
             .imgCard{
                 position: relative;
                 width: 460px;
                 height: 460px;
                 top: -60px;
                 left: 5px;
            }
        }        
    }
    
}
    /* aca termina el css de conocimiento y empieza el de sobre mi*/

 .contenedorSobreMi{

    .parrafoSobreMi{
        margin-bottom: 11.5rem;
    }

    @media only screen and (min-width:1024px){
        grid-template-areas: "titulo foto"
                             "parrafo foto";
        grid-template-columns: 1fr 1fr;
        
        .fotoYo{
            align-self: center;
            margin-bottom: 8rem;
        }
    
        .fotoYo img{
            width: 80%;
        }
    
        .subTituloSobreMi{
            font-size: 1.8rem;
        }
    
        .contenidoSobreMi{
            font-size: 1.1rem;
        }

        
    }
}    
/*acá termina el Css del Trabajos y arranca el de "Conocimientos" */

.titulosHtml{
    @include titulos;
}
.contConocimientos{
    .carousel{
        .carousel-inner{
            .carousel-item{

                .html-carrousel{
                    height: $tamaño-carrusel *3;
                }
                
                .css-carrousel{
                    height: $tamaño-carrusel *3;
                }
                
                .git-carrousel{
                    height: $tamaño-carrusel *3;
                }
                
                .bootstap-carrousel{
                    height: $tamaño-carrusel *3;
                }
            }
        }
    }
    
    .contenidoConocimiento{
        grid-area: subtit;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 5rem;
        .textoConocimiento{
            font-size: 1.3rem;
            text-align: center;
            color: $color-textos;
            .textoConocimientoSaltos{
                display: block;
            }
        }
    }
    @media only screen and (max-width:650px){
        
        .redesSociales a img{
            width: 30%;
        }
    }
}



/*acá termina el Css de conocimientos y arranca el de Sobre mi */

.tituloSobreMi{
        color: $color-textos;
        @include titulos;
}
.contenedorSobreMi{
    @media only screen and (max-width:650px){
        display: grid;
        grid-template-areas: "foto foto"
                            "titulo titulo"
                            "parrafo parrafo";

        .fotoYo{
            text-align: center;
            grid-area: foto;
            img{
                height: 90%;
            }
        }

        .subTituloSobreMi{
            grid-area: titulo;
            font-size: 1.5rem;
            text-align: center;
            color: $color-textos;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .contenidoSobreMi{
            padding: 1.7rem;
            grid-area: parrafo;
            text-align: center;
            color: $color-textos;
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }
    

}  .contenedorSobreMi{
    @media only screen and (min-width:650px){
        display: grid;
        grid-template-areas: "foto foto"
                            "titulo titulo"
                            "parrafo parrafo";

        .fotoYo{
            text-align: center;
            grid-area: foto;
            img{
                height: 90%;
            }
        }

        .subTituloSobreMi{
            grid-area: titulo;
            font-size: 1.5rem;
            text-align: center;
            color: $color-textos;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .contenidoSobreMi{
            padding-left: 8rem;
            padding-right: 8rem;
            grid-area: parrafo;
            text-align: center;
            color: $color-textos;
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

        .tituloSobreMi{
            font-size: 3rem;
        }

    }

}  .contenedorSobreMi{
        @media only screen and (min-width:1024px){

        
        grid-template-areas: "titulo foto"
                             "parrafo foto";
        grid-template-columns: 1fr 1fr;
        
        .fotoYo{
            align-self: center;
        }
    
        .fotoYo img{
            width: 80%;
        }
    
        .subTituloSobreMi{
            font-size: 1.8rem;
        }
    
        .contenidoSobreMi{
            font-size: 1.1rem;
        }
    }

}
/*acá termina el Css de Sobre mi y arranca el de Contacto */


.footerContacto{
    bottom: -40%;
}
    
.containerContacto{

    .contacto-total{
        font-family: 'Quicksand', sans-serif;
        color: #fff;
        padding-left: 0.3rem;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        background-color: #222;
        .contacto-form{
            padding: 1rem;
            
            form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                .bloque{
                    grid-column: 1 / 3;
                }
            } p{
                margin: 0%;
                padding: 1rem;
                button, input, textarea{
                    width: 100%;
                    padding: 0.7rem;
                    border: none;
                    background: none;
                    outline: none;
                    color: #fff;
                    border-bottom: 1px solid $color-principal;
                }
                button{
                    background-color: $color-principal;
                    border: 0%;
                    text-transform: uppercase;
                    padding: 1rem;
                    &:hover{
                        background-color: rgb(150, 30, 30);
                        color: #000;
                        transition: background-color 1s ease-out;
                        outline: 0%;
                    }
                    
                }
            }
        }
    }
    .contacto-info{
        background-color: #000;
        h2, ul, p{
            text-align: center;
            margin-left: 0 0 1rem 0;
        }
        ul{
            list-style: none;
            padding: 0%;
            li{
                padding: 0.3rem;
            }
        }
    }
}







@media only screen and (min-width:768px){
    .containerContacto{

        .contacto-total{
                    display: grid;
                    grid-template-columns: 2fr 1fr;
        
    
        margin: 5rem;
        }
        .contacto-info{
            h2, ul, p{
                padding: 1rem;
                text-align: left;
            }

        }
    }
    .redes-sociales a img{
        width: 45%;
    }
    
}

@media only screen and (min-width:1200px){

    
    .redes-sociales a img{
        width: 30%;
    }
    
}
