@import "utilities/variables";
@import "layout/nav-background";
@import "utilities/mixins";
@import "utilities/extends";

/* reset */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*estilos Index */

.contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "imagen "
                         "contenido"
                         "footer ";
    justify-content: center;

    .contenedorMain{

        .fotoIndex{
            grid-area: imagen;
            display: flex;
            justify-content: center;
            align-items: center;
            filter:drop-shadow( 5px 5px 5px black);
        }

        .slogan1{
            grid-area: contenido;
            display: grid;
            grid-template-areas: "titulo"
                                 "parrafo";
    
            .tituloIndex{
                grid-area: titulo;
                @include titulos;
            }
            
            .parrafoIndex{
                grid-area: parrafo;
                font-size: 1rem;
                text-align: center;
                padding: 5rem;
                color: $color-textos;
            }
            .TituloFoto{
                img{
                    display: none;
                }
            }
        }
            footer{
                grid-area: footer;
            }
    }    
    @media only screen and (min-width:650px){
        .contenedorMain{
            

            display: grid;
            grid-template-areas: "imagen contenido"
                                 "imagen contenido ";
                                 
            justify-content: center;
            grid-template-columns: 50% 50%;
            column-gap: 0rem;
    
            .fotoIndex{
                display: flex;
                width: 100%;
                margin-bottom: 33rem;
            }

            .slogan1{
                grid-template-areas: "tituloFoto"
                                     "titulo"
                                     "parrafo";
                column-gap: 1rem;
                .TituloFoto{
                    margin-top: 7.5rem;
                    display: flex;
                    justify-content: center;
                    grid-area: tituloFoto;
                    filter:drop-shadow( 2px 2px 3px black);
                    img{
                        display: block;
                        height: auto;
                        width: auto;
                    }
                }
                .tituloIndex{
                    grid-area: titulo;
                    @include titulos;
                }
                    
                .parrafoIndex{
                    grid-area: parrafo;
                    font-weight: bold;
                    font-size: 1rem;
                    text-align:center;
                    margin-left: 0rem;
                    margin-bottom: 15rem;
                    margin-right: 0rem;
                }
            }
            
    
        }
    }
    
        
        
    
    
    @media only screen and (min-width:1024px){
    
    
        .contenedorMain{
            display: grid;
            grid-template-areas: "imagen contenido"
                                 "imagen contenido ";
                                 
            justify-content: center;
            grid-template-columns: 40% 60%;
            column-gap: 0rem;
    
            .fotoIndex{
                display: flex;
                width: 80%;
                
            }
    
            .slogan1{
                width: 100%;
                .tituloIndex{
                    font-size: 2rem;
                    padding-top: 2rem;
                    margin-top: 2rem;
                }
                
                .parrafoIndex{
                    font-size: 1.2rem;
                    margin-left: 5rem;
                    margin-bottom: 15rem;
                    margin-right: 5rem;
                }
            }
        }
         
        
    }
}



 /*acá termina el Css del index y arranca el de "trabajos"*/


.contenedorTrabajos{
    
        display: grid;
    grid-template-areas: "titulo"
                         "subtitulo1"
                         "foto1"
                         "parrafo1"
                         "subtitulo2"
                         "foto2"
                         "parrafo2"
                         "footer";

    

        .titulosHtml{
            grid-area: titulo;
        @include titulos;

        }
        .imgPag1{
            grid-area: foto1;
            width: 100%;
        @extend  %imagenesTrabajos;
        
        }

        .tituloPrimerProyect {
            text-align: center;
            grid-area: subtitulo1;
            color: $color-textos;
        }

        .parrafoPrimerProyect {
            grid-area: parrafo1;
            text-align: center;
            padding: 2.5rem;
            color: $color-textos;
        }

        .imgPag2 {
            grid-area: foto2;
            width: 100%;
            @extend  %imagenesTrabajos;
     }

        .tituloSegundoProyect {
            grid-area: subtitulo2;
            text-align: center;
            color: $color-textos;
        }

        .parrafoSegundoProyect {
            grid-area: parrafo2;
            text-align: center;
            padding: 2.5rem;
            color: $color-textos;
            margin-bottom: 10rem;
        }

        .linkPag1{
            text-decoration: none;
            color: $color-textos;
        }
        
        .linkPag2{
            text-decoration: none;
            color: $color-textos;

        }

        .comentarios-proyect{
            font-weight: bold;
            font-size: 1.1rem;
        }

        footer{
            grid-area: footer;
        }
        
 
} .contenedorTrabajos{
    @media only screen and (min-width:650px){
        display: grid;
    grid-template-areas: "titulo titulo"
                        "foto1 subtitulo1"
                        "foto1 parrafo1"
                        "subtitulo2 foto2"
                        "parrafo2 foto2"
                        "footer footer";
    .titulosHtml{
        grid-area: titulo;
        @include titulos;
        }
        .imgPag1{
        grid-area: foto1;
        margin-top: 2.2rem;
        margin-bottom: 2.2rem;
        width: 17rem;
        display: flex;
        justify-self: center;
        border-radius: 10%;
        }

        .tituloPrimerProyect {
            text-align: center;
            grid-area: subtitulo1;
            color: $color-textos;
        }

        .parrafoPrimerProyect {
            grid-area: parrafo1;
            text-align: center;
            padding: 2.5rem;
            color: $color-textos;
        }

        .imgPag2 {
            grid-area: foto2;
            margin-top: 2.2rem;
            margin-bottom: 2.2rem;
            width: 17rem;
            display: flex;
            justify-self: center;
            border-radius: 10%;
        }

        .tituloSegundoProyect {
            grid-area: subtitulo2;
            text-align: center;
            color: $color-textos;
        }

        .parrafoSegundoProyect {
            grid-area: parrafo2;
            text-align: center;
            padding: 2.5rem;
            color: $color-textos;
        }

        .linkPag1{
            text-decoration: none;
            color: $color-textos;
        }
        
        .linkPag2{
            text-decoration: none;
            color: $color-textos
        }
        
        .footer{
            .redesSociales a img{
                width: 30%;
            }
        }
    } 

    
}
    .contenedorTrabajos{
        @media only screen and (min-width:1024px){
            .imgPag1{
                width: 22rem;
            }
            .imgPag2{
                width: 22rem;
            }
            .parrafoSegundoProyect{
                margin-bottom: 15rem;
            }
        }
    
    }
    /* aca termina el css de conocimiento y empieza el de sobre mi*/

 .contenedorSobreMi{

    .parrafoSobreMi{
        margin-bottom: 11.5rem;
    }

    @media only screen and (min-width:1024px){
        grid-template-areas: "titulo foto"
                             "parrafo foto";
        grid-template-columns: 1fr 1fr;
        
        .fotoYo{
            align-self: center;
            margin-bottom: 8rem;
        }
    
        .fotoYo img{
            width: 80%;
        }
    
        .subTituloSobreMi{
            font-size: 1.8rem;
        }
    
        .contenidoSobreMi{
            font-size: 1.1rem;
        }

        
    }
}    
/*acá termina el Css del Trabajos y arranca el de "Conocimientos" */

.titulosHtml{
    @include titulos;
}
.contConocimientos{
    .carousel{
        .carousel-inner{
            .carousel-item{

                .html-carrousel{
                    height: $tamaño-carrusel *3;
                }
                
                .css-carrousel{
                    height: $tamaño-carrusel *3;
                }
                
                .git-carrousel{
                    height: $tamaño-carrusel *3;
                }
                
                .bootstap-carrousel{
                    height: $tamaño-carrusel *3;
                }
            }
        }
    }
    
    .contenidoConocimiento{
        grid-area: subtit;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 5rem;
        .textoConocimiento{
            font-size: 1.2rem;
            text-align: center;
            color: $color-textos;
        }
    }
    @media only screen and (max-width:650px){
        
        .redesSociales a img{
            width: 30%;
        }
    }
}



/*acá termina el Css de conocimientos y arranca el de Sobre mi */

.tituloSobreMi{
        color: $color-textos;
        @include titulos;
}
.contenedorSobreMi{
    @media only screen and (max-width:650px){
        display: grid;
        grid-template-areas: "foto foto"
                            "titulo titulo"
                            "parrafo parrafo";

        .fotoYo{
            text-align: center;
            grid-area: foto;
            img{
                height: 90%;
            }
        }

        .subTituloSobreMi{
            grid-area: titulo;
            font-size: 1.5rem;
            text-align: center;
            color: $color-textos;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .contenidoSobreMi{
            padding: 1.7rem;
            grid-area: parrafo;
            text-align: center;
            color: $color-textos;
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
    }
    

}  .contenedorSobreMi{
    @media only screen and (min-width:650px){
        display: grid;
        grid-template-areas: "foto foto"
                            "titulo titulo"
                            "parrafo parrafo";

        .fotoYo{
            text-align: center;
            grid-area: foto;
            img{
                height: 90%;
            }
        }

        .subTituloSobreMi{
            grid-area: titulo;
            font-size: 1.5rem;
            text-align: center;
            color: $color-textos;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .contenidoSobreMi{
            padding-left: 8rem;
            padding-right: 8rem;
            grid-area: parrafo;
            text-align: center;
            color: $color-textos;
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

        .tituloSobreMi{
            font-size: 3rem;
        }

    }

}  .contenedorSobreMi{
        @media only screen and (min-width:1024px){

        
        grid-template-areas: "titulo foto"
                             "parrafo foto";
        grid-template-columns: 1fr 1fr;
        
        .fotoYo{
            align-self: center;
        }
    
        .fotoYo img{
            width: 80%;
        }
    
        .subTituloSobreMi{
            font-size: 1.8rem;
        }
    
        .contenidoSobreMi{
            font-size: 1.1rem;
        }
    }

}
/*acá termina el Css de Sobre mi y arranca el de Contacto */

.redes-sociales{
    a{
        text-decoration: none;
        margin-bottom: 3rem;
        width: 50%;
        .redes-sociales a img{
            width: 55%;
        }
        .fb-contact{
            &:hover{
                filter:drop-shadow( 3px 3px 5px map-get($map: $redesSociales, $key:facebook)); 
            }
        } 
        .ig-contact{
            &:hover{
                filter:drop-shadow( 3px 3px 5px map-get($map: $redesSociales, $key:instagram)); 
            }
        }
        .in-contact{
            &:hover{
                filter:drop-shadow( 3px 3px 5px map-get($map: $redesSociales, $key:Linkedin)); 
            }
        }
        .wpp-contact{
            &:hover{
                filter:drop-shadow( 3px 3px 5px map-get($map: $redesSociales, $key:whatsApp)); 
            }
        }
   }
}
    


.formulario{
    color: $color-textos;
    margin-top: 2rem;
    margin-left: 16%;
    height: 90%;
    width: 70%;
    border: 0px solid white;
    text-align: center;
    #consultaFormulario{
        width: 90%;
        height: 8rem;
        border-radius: 2%;
    }
} 

@media only screen and (min-width:768px){

    .redes-sociales a img{
        width: 45%;
    }
    
}

@media only screen and (min-width:1200px){

    .redes-sociales a img{
        width: 30%;
    }
    
}
